<div class="row">
  <div class="card">
    <div class="card-content center-align">
      <span class="card-title">Redes Sociais</span>
      <br>
      <a href='{{ site.facebookUrl }}' target='_blank'><img src='{{ site.facebookImage }}' height='80'></a>  <a href='{{ site.instagramUrl }}' target='_blank'><img src='{{ site.instagramImage }}' height='80'></a>  <a href='{{ site.youtubeUrl }}' target='_blank'><img src='{{ site.youtubeImage }}' height='80'></a>
    </div>
  </div>
</div>