<nav class="white">
	<div class="nav-wrapper container">
		<a id="logo-container" href="/" class="brand-logo">
			<img class="responsive-img" src="{{ site.logoUrl }}">
		</a>
		<ul class="right hide-on-med-and-down">
			<li><a href='/'>Início</a></li><li><a href='/a_uec/'>A UEC</a></li><li><a href='/atividades/'>Atividades</a></li><li><a href='{%- urlPalestras -%}'>Palestras</a></li><li><a href='/cursos/'>Cursos</a></li><li><a href='/contato/'>Contato</a></li>
    </ul>
		<ul id="nav-mobile" class="side-nav">
			<li><a href='/'>Início</a></li><li><a href='/a_uec/'>A UEC</a></li><li><a href='/atividades/'>Atividades</a></li><li><a href='{%- urlPalestras -%}'>Palestras</a></li><li><a href='/cursos/'>Cursos</a></li><li><a href='/contato/'>Contato</a></li>
    </ul>
		<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
	</div>
</nav>