[
    {
        "nome": "Valentina Alana Sabrina Porto",
        "turma": "TEC 1",
        "link": "https://example.com/acesso?p=DZjO4LK0g9",
        "pedido": "DZjO4LK0g9",
        "hash": "f32b8ce2bfcab19bfd406812bf57f4056c1d60eee8d3d7c731db050f74954597"
    },
    {
        "nome": "Francisco Márcio da Costa",
        "turma": "ESPACE 3",
        "link": "https://example.com/acesso?p=EWkGWsElL2",
        "pedido": "EWkGWsElL2",
        "hash": "8eb4fb7cc25070a4d56d95b06417110f2faff8a1102eb234f7ef0ca5e5518fa4"
    }
]