---
title: Conheça a UEC
layout: 'base.njk'
---
<div class="container">
  <div class="row">
    <!-- COLUNA CENTRAL -->
    <div class="col s12 m12 l12">
      <div class="row">
        <div class="center col s12 m12 l12">
          <h2 class="teal-text">Conheça a UEC</h2>
        </div>
      </div>

      <!-- INFORMACOES -->
      <div class="row">
        <div class="col s12 m12 l12">
          <div class="center icon-block">
            <h3 class="center brown-text"><i class="material-icons">comment</i></h3>
            <h5 class="center brown-text">História</h5>
            <h6 class="center">
              A <b>União Espírita Cristã</b> é uma instituição religiosa de caráter social e doutrinário.<br><br> Fundada em <i>05 de junho de 1928</i>, a UEC prima pela divulgação da Doutrina Espírita em seu tríplice aspecto: filosófico, científico e religioso, tal qual foi codificada por Allan Kardec.
              <br><br>A UEC é constituída de seus sócios, colaboradores e frequentadores, administrada por uma diretoria executiva e é adesa à Federação Espírita do Estado do Espírito Santo, fazendo parte do 6º Conselho Regional Espírita.
              <br><br>Convidamos você a conhecer e participar de nossa Instituição Espírita, estudando e praticando os ensinos de Jesus. Seja bem vindo à União Espírita Cristã. Ela também é sua Casa!
            </h6>
          </div>
        </div>
      </div>
      <!-- FIM INFORMACOES -->

      <br>

      <!-- DIRETORIA -->
      <div class="row">
        <div class="col s12 m12 l12">
          <div class="center icon-block">
            <h3 class="center brown-text"><i class="material-icons">perm_identity</i></h3>
            <h5 class="center brown-text">Diretoria Executiva 2024 - 2026</h5>
            <h6 class="center">
              <b>Presidente</b><br>Aurelio Amodei Junior<br><br>
              <b>Primeiro Vice-presidente</b><br>Alessandro Pinheiro Carvalho<br><br>
              <b>Segundo Vice-presidente</b><br>Rozangela Costa
            </h6>
          </div>
        </div>
      </div>
      <!-- FIm DIRETORIA -->

      <br>

      <!-- DEPARTAMENTOS -->
      <div class="row">
        <div class="col s12 m12 l12">
          <div class="center icon-block">
            <h3 class="center brown-text"><i class="material-icons">recent_actors</i></h3>
            <h5 class="center brown-text">Departamentos Operacionais 2024 - 2026</h5>
            <h6 class="center">              
              <b>Departamento de Assistência e Promoção Social Espírita – DAPSE</b><br>Rogéria Raimunda Barreto<br>Sulayma Beatriz Hamdan Lima<br><br><br>              
              <b>Departamento de Atendimento Espiritual – DAE</b><br>Elizabeth Maria Schmidt Tolomelli<br>Eliana Moraes Onofre<br><br><br>
              <b>Departamento de Comunicação – DECOM</b><br>Alan Carvalhal da Cruz<br>Isabela Sampaio Nucci<br>Natálya Ribeiro de Assunção<br><br><br>
              <b>Departamento de Doutrina - DD</b><br>Marco Antonio Redinz<br>Michelle Sales e Silva<br>Sofia Marta Assunção Chamon Mouawad de Oliveira<br><br><br>
              <b>Departamento de Estudos Espíritas – DEE</b><br>Ana Maria Louzada<br>Zilda Barbosa Mello<br><br><br>
              <b>Departamento de Infância e Juventude – DIJ</b><br>Deir de Paula<br>Viviane Amaral Ferreira<br><br><br>
              <b>Departamento de Orientação Mediúnica – DOM</b><br>Alessandro Pinheiro Carvalho<br>Aurelio Amodei Junior<br>Flávia Andreia Possette<br><br><br>
              <b>Departamento de Patrimônio</b><br>Adílio Francisco de Oliveira<br>Antonio Carlos Canez Lemos<br>Luiz Amauri Gontijo<br><br><br>
              <b>Tesouraria</b><br>Gustavo Adolfo Araújo Caldas<br<br>Paula Wajsman<br><br><br>
              <b>Secretaria</b><br>Delma Luz de Almeida<br>Monique Lima Amodei<br>Natalia Wajsman Carvalhal
            </h6>
          </div>
        </div>
      </div>
      <!-- FIM DEPARTAMENTOS -->
      <!-- CONSELHO FISCAL -->
      <div class="row">
        <div class="col s12 m12 l12">
          <div class="center icon-block">
            <h3 class="center brown-text"><i class="material-icons">supervisor_account</i></h3>
            <h5 class="center brown-text">Conselho Fiscal 2024 - 2026</h5>
            <h6 class="center">
              Marcelo de Ávila Caiaffa<br>              
              Nelson Bossle Conci<br>
              Terezinha Maria de Andrade
            </h6>
          </div>
        </div>
      </div>
      <!-- FIM CONSELHO FISCAL -->
      <!-- REDES SOCIAIS -->
      {% include "redes-sociais.njk" %}
      <!-- FIM REDES SOCIAIS -->
    </div>
      <!-- FIM COLUNA CENTRAL -->
    </div>
  </div>
