---
title: Conheça a UEC
layout: 'base.njk'
---
<div class="container">
  <div class="row">
    <!-- COLUNA CENTRAL -->
    <div class="col s12 m12 l12">
      <div class="row">
        <div class="center col s12 m12 l12">
          <h2 class="teal-text">Conheça a UEC</h2>
        </div>
      </div>

      <!-- INFORMACOES -->
      <div class="row">
        <div class="col s12 m12 l12">
          <div class="center icon-block">
            <h3 class="center brown-text"><i class="material-icons">comment</i></h3>
            <h5 class="center brown-text">História</h5>
            <h6 class="center">
              A <b>União Espírita Cristã</b> é uma instituição religiosa de caráter social e doutrinário.<br><br> Fundada em <i>05 de junho de 1928</i>, a UEC prima pela divulgação da Doutrina Espírita em seu tríplice aspecto: filosófico, científico e religioso, tal qual foi codificada por Allan Kardec.
              <br><br>A UEC é constituída de seus sócios, colaboradores e freqüentadores, administrada por uma diretoria executiva e é adesa à Federação Espírita do Estado do Espírito Santo, fazendo parte do 6º Conselho Regional Espírita.
              <br><br>Convidamos você a conhecer e participar de nossa Instituição Espírita, estudando e praticando os ensinos de Jesus. Seja bem vindo à União Espírita Cristã. Ela também é sua Casa!
            </h6>
          </div>
        </div>
      </div>
      <!-- FIM INFORMACOES -->

      <br>

      <!-- DIRETORIA -->
      <div class="row">
        <div class="col s12 m12 l12">
          <div class="center icon-block">
            <h3 class="center brown-text"><i class="material-icons">perm_identity</i></h3>
            <h5 class="center brown-text">Diretoria Executiva - UEC - 2020 - 2023</h5>
            <h6 class="center">
              <b>Presidente</b><br>Sofia Marta Assunção Chamon Mouawad de Oliveira<br><br>
              <b>Vice-Presidente de Administração</b><br>Marcelo de Ávila Caiaffa<br><br>
              <b>Vice-Presidente de Doutrina</b><br>Marina Médici Loureiro Subtil<br><br>
              <b>Vice-Presidente de Ass. da Família</b><br>Michelle Sales e Silva<br><br>
              <b>Primeiro Tesoureiro</b><br>Natalia Wajsman Carvalhal<br><br>
              <b>Segundo Tesoureiro</b><br>José Carlos de Souza Acha Junior<br><br>
              <b>Primeiro Secretário</b><br>Paula Wajsman<br><br>
              <b>Segundo Secretário</b><br>Fabiana Farias Borges Acha<br><br>
            </h6>
          </div>
        </div>
      </div>
      <!-- FIm DIRETORIA -->

      <br>

      <!-- DEPARTAMENTOS -->
      <div class="row">
        <div class="col s12 m12 l12">
          <div class="center icon-block">
            <h3 class="center brown-text"><i class="material-icons">recent_actors</i></h3>
            <h5 class="center brown-text">Departamentos Operacionais - UEC - 2020 - 2023</h5>
            <h6 class="center">
              <b>Departamento de Doutrina - DD</b><br>Thiago Izoton<br><br><br>
              <b>Departamento de Infância e Juventude – DIJ</b><br>Deir de Paula<br>Gabriela de Paula Santos<br><br><br>
              <b>Departamento de Patrimônio</b><br>Adílio Francisco de Oliveira<br>Filipe Fonseca Aguiar<br><br><br>
              <b>Departamento de Comunicação – DECOM</b><br>Anderson Cruz Fernandes<br>Isabela Sampaio Nucci<br>Alan Carvalhal da Cruz<br><br><br>
              <b>Departamento de Educação – DE</b><br>Zilda Barbosa Mello<br>Rozângela Costa<br>Mônica Nunes<br><br><br>
              <b>Departamento Mediúnico – DOM</b><br>Alessandro Pinheiro Carvalho<br>Aurelio Amodei Junior<br><br><br>
              <b>Departamento de Assistência Social – DAPS</b><br>Miriam da Conceição Franco Ramalho<br>Sulayma Beatriz Hamdan Lima<br><br><br>
            </h6>
          </div>
        </div>
      </div>
      <!-- FIM DEPARTAMENTOS -->
      <!-- REDES SOCIAIS -->
      {% include "redes-sociais.njk" %}
      <!-- FIM REDES SOCIAIS -->
    </div>
      <!-- FIM COLUNA CENTRAL -->
    </div>
  </div>