---
permalink: /cursos/acesso.html
---
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
  </head>
  <body onload="UserAction()">
    <button type="button" onclick="UserAction()">Clique aqui, caso não esteja demorando...</button>
    <div style="display:none" id="naoLocalizado"> 
      <h1>Inscrição não localizada</h1>
      <p>Não localizamos sua inscrição, favor entrar em contato:</p>
      <p>&bull; pelo e-mail: <a href = "mailto: decom@uec.org.br">decom@uec.org.br</a></p>
      <p>&bull; pelo WhatsApp: <a href = "https://api.whatsapp.com/send?phone=27996090059">27996090059</a></p>
    </div>
    <script>
      function UserAction() {
          window.location.assign("https://uniaoespiritacrista.my.webex.com/uniaoespiritacrista.my-pt/j.php?MTID=m691da15e999443519d1e7b43649b5c83");
      }      
    </script>
  </body>
</html>