---
title: Atividades da UEC
layout: 'base.njk'
---
<div class="container">
  <div class="row">
    <!-- COLUNA CENTRAL -->
    <div class="col s12 m12 l12">
      <div class="row">
        <div class="center col s12 m12 l12">
          <h2 class="teal-text">{{ title }}</h2>
        </div>
      </div>
      <!-- ATIVIDADES -->
      <section>
        <h1>Comunicado</h1>
        <p>Nossa casa está fechada por tempo indeterminado para a realização de obras de melhorias. Durante este período, nosso Atendimento Fraterno e Reuniões Doutrinárias (palestras seguidas de aplicação de passes) estão acontecendo no Grupo da Fraternidade Espírita Jeronymo Ribeiro, que fica na Rua Henrique Laranja, 54, Centro – Vila Velha. As demais atividades estão temporariamente suspensas.</p>
        <ul>
            <li><strong>Atendimento Fraterno:</strong> quintas-feiras, das 17h às 19h, no GFE Jeronymo Ribeiro.</li>
            <li><strong>Reuniões Públicas Doutrinárias:</strong> quintas-feiras, às 20h, no GFE Jeronymo Ribeiro.</li>
        </ul>
    </section>
      <!-- FIM ATIVIDADES -->      
    </div>
  </div>
</div>