---
title: Atividades da UEC
layout: 'base.njk'
---
<div class="container">
  <div class="row">
    <!-- COLUNA CENTRAL -->
    <div class="col s12 m12 l12">
      <div class="row">
        <div class="center col s12 m12 l12">
          <h2 class="teal-text">{{ title }}</h2>
        </div>
      </div>
      <!-- ATIVIDADES -->
      <div class="row">
        <div class="col s12 m12 l12">
          <div class="center icon-block">
            <h3 class="center brown-text"><i class="material-icons">perm_identity</i></h3>
            <h5 class="center brown-text">Atendimento Fraterno</h5>
            <h6 class="center">
              O atendimento fraterno pelo diálogo consiste em receber fraternalmente aqueles que buscam a casa, dando-lhes a oportunidade de expor suas dificuldades e necessidades. Oferece esclarecimentos seguros à luz do Espiritismo para os problemas que os afligem e os encaminha para assistência espiritual e depois atividades da casa.
              <br>              
              <br>Agendamento prévio por Whatsapp: <a target="_blank" href="https://api.whatsapp.com/send?phone=5527992490302"><b>(27) 99249-0302</b></a>              
            </h6>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12 l12">
          <div class="center icon-block">
            <h3 class="center brown-text"><i class="material-icons">perm_identity</i></h3>
            <h5 class="center brown-text">Atendimento a Gestantes</h5>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12 l12">
          <div class="center icon-block">
            <h3 class="center brown-text"><i class="material-icons">perm_identity</i></h3>
            <h5 class="center brown-text">Bazar das Delícias</h5>
            <h6 class="center">              
              <span class="card-title">Quintas-feiras</span><br>
              <span class="card-title">19h às 21h15</span>
            </h6>            
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12 l12">
          <div class="center icon-block">
            <h3 class="center brown-text"><i class="material-icons">perm_identity</i></h3>
            <h5 class="center brown-text">Bazar da Solidariedade</h5>
            <h6 class="center">              
              <br>Bazar de artigos de segunda mão que acontece duas vezes por ano e tem renda revertida para a manutenção da casa. Aceitamos doações de peças de vestuário, calçados, acessórios, artigos de cama, mesa e banho e itens para a casa, que podem ser entregues Segunda a Sexta-feira, das 9h às 12h - 13h às 17h. Quinta-feira durante as palestras.
            </h6>
          </div>
        </div>
      </div>      
      <div class="row">
        <div class="col s12 m12 l12">
          <div class="center icon-block">
            <h3 class="center brown-text"><i class="material-icons">perm_identity</i></h3>
            <h5 class="center brown-text">Bazar Mãos de Fada</h5>
            <h6 class="center">
              <span class="card-title">Segunda a sexta-feira</span><br>
              <span class="card-title">9h às 12h - 13h às 17h</span><br>
              <span class="card-title">--</span><br>
              <span class="card-title">Quintas-feiras</span><br>
              <span class="card-title">19h30 às 21h</span>
            </h6>            
          </div>
        </div>
      </div>      
      <div class="row">
        <div class="col s12 m12 l12">
          <div class="center icon-block">
            <h3 class="center brown-text"><i class="material-icons">perm_identity</i></h3>
            <h5 class="center brown-text">Biblioteca</h5>
            <h6 class="center">              
              <span class="card-title">Quintas-feiras</span><br>
              <span class="card-title">19h às 20h</span>
            </h6>            
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12 l12">
          <div class="center icon-block">
            <h3 class="center brown-text"><i class="material-icons">perm_identity</i></h3>
            <h5 class="center brown-text">Estudos</h5>
            <h6 class="center">
              => <a href="/cursos">Acesse a página aqui</a> <=
            </h6>            
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12 l12">
          <div class="center icon-block">
            <h3 class="center brown-text"><i class="material-icons">perm_identity</i></h3>
            <h5 class="center brown-text">Livraria</h5>
            <h6 class="center">
              <span class="card-title">Segunda a sexta-feira</span><br>
              <span class="card-title">9h às 12h - 13h às 17h</span><br>
              <span class="card-title">--</span><br>
              <span class="card-title">Quintas-feiras</span><br>
              <span class="card-title">19h30 às 21h</span>
            </h6>            
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12 l12">
          <div class="center icon-block">
            <h3 class="center brown-text"><i class="material-icons">perm_identity</i></h3>
            <h5 class="center brown-text">Oficinas de Costura e Artesanato</h5>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12 l12">
          <div class="center icon-block">
            <h3 class="center brown-text"><i class="material-icons">perm_identity</i></h3>
            <h5 class="center brown-text">Reuniões Doutrinárias</h5>
            <h6 class="center">
              => <span class="card-title"><a href="javascript:document.getElementById('link_palestras').click()">Acesse a página aqui</a></span> <=
            </h6>            
          </div>
        </div>
      </div>      
      <!-- FIM ATIVIDADES -->      
    </div>
  </div>
</div>