---
title: Atividades da UEC
layout: 'base.njk'
---
<div class="container">
  <div class="row">
    <!-- COLUNA CENTRAL -->
    <div class="col s12 m12 l12">
      <div class="row">
        <div class="center col s12 m12 l12">
          <h2 class="teal-text">{{ title }}</h2>
        </div>
      </div>
      <!-- ATIVIDADES -->
      <div class="row">
        <div class="col s12 m12 l12">
          <div class="center icon-block">
            <h3 class="center brown-text"><i class="material-icons">perm_identity</i></h3>
            <h5 class="center brown-text">Comunicado</h5>
            <h6 class="center">
              <p>Nossa casa está fechada por tempo indeterminado para a realização de obras de melhorias. Durante este período, nosso Atendimento Fraterno e Reuniões Doutrinárias (palestras seguidas de aplicação de passes) estão acontecendo no Grupo da Fraternidade Espírita Jeronymo Ribeiro, que fica na Rua Henrique Laranja, 54, Centro – Vila Velha. As demais atividades estão temporariamente suspensas.</p>
              <ul>
                  <li><b>Atendimento Fraterno:</b> quintas-feiras, das 17h às 19h, no GFE Jeronymo Ribeiro.</li>
                  <li><b>Reuniões Públicas Doutrinárias:</b> quintas-feiras, às 20h, no GFE Jeronymo Ribeiro.</li>
              </ul>
            </h6>
          </div>
        </div>
      </div>
      <!-- FIM ATIVIDADES -->      
    </div>
  </div>
</div>