---
title: Contatos da UEC
layout: 'base.njk'
---
<div class="container">
  <div class="row">
    <!-- COLUNA CENTRAL -->
    <div class="col s12 m12 l12">
      <div class="row">
        <div class="center col s12 m12 l12">
          <h2 class="teal-text">{{ title }}</h2>
        </div>
      </div>
      <!-- CONTATOS -->
      <div class="row">
        <div class="col s12 m12 l12">
          <div class="center icon-block">
            <h2 class="center brown-text"><i class="material-icons">person_pin</i></h2>
            <h4 class="center brown-text">Telefone</h4>
            <h5 class="center">  +55 (27) 3229-1433<br>
          </div>
        </div>
        
      </div>
      <hr>
      <div class="row">
        <div class="col s0 m2 l2">&nbsp;</div>
        <div class="col s12 m8 l8">
          <div class="center icon-block">
            <h2 class="center brown-text"><i class="material-icons">email</i></h2>
            <h4 class="center brown-text">E-mail</h4>
              <div>
                <h6>
                <form method="POST" action="https://formspree.io/uec@uec.org.br">
                <input name="email" type="email" placeholder="Seu email" required/><br>
                <textarea name="message" placeholder="Sua mensagem" required></textarea><br>
                <button>enviar</button><br>
                </form>
                </h6>
              </div>
            </div>
        </div>
        <div class="col s0 m2 l2">&nbsp;</div>
      </div>
      <hr>
      <div class="row">
        <div class="col s12 m12 l12">
          <div class="center icon-block">
            <h2 class="center brown-text"><i class="material-icons">room</i></h2>
            <h4 class="center brown-text">Como chegar</h4>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3741.189615104557!2d-40.29352604982045!3d-20.333783986311996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xb81639ce9b636b%3A0x4957f0600314af20!2zVW5pw6NvIEVzcMOtcml0YSBDcmlzdMOjIC0gVUVD!5e0!3m2!1spt-BR!2sbr!4v1662773677978!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
      <!-- CONTATOS -->
    </div>
    <!-- COLUNA CENTRAL -->   
  </div>
</div>
