---
permalink: /estudos/inscricoes.html
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <script>
      var target = new Date('2026-07-01T00:00:00-03:00').getTime();
      var url = 'https://forms.gle/VpsS2PV3bqHTfccJA';
      function check() {
        if (Date.now() >= target) {
          window.location.replace(url);
        } else {
          window.location.replace('https://cursos.uec.org.br');
          //setTimeout(check, 500);
        }
      }
      check();
    </script>
  </head>
  <body></body>
</html>