---
title: Palestras da UEC
layout: 'base.njk'
---
<div class="container">  
  <div class="row">  
    <!-- COLUNA CENTRAL -->
    <div class="col s12 m12 l12">
      <div class="row">
        <div class="center col s12 m12 l12">
          <h2 class="teal-text">{{ title }}</h2>
          <h7>Palestras seguidas de aplicação de passes: <br><b>Terças-feiras, às 16 horas</b> - presencial<br><b>Quintas-feiras, às 20 horas</b> - presencial com transmissão ao vivo no YouTube<br>(acesse nossas transmissões abaixo)</br></h7>
              
        </div>
      </div>
      <div class="row">
        <div class="center col s12 m12 l12">
            <!--
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/videoseries?list=PLzpwIHc2DxHVI_EKTqdwv3bJaCXfiPTus&rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            -->
            <a href="https://www.youtube.com/embed/videoseries?list=PLzpwIHc2DxHVI_EKTqdwv3bJaCXfiPTus&rel=0" target="_blank"><img style="width: 50%" src="/assets/images/Palestras UEC - outubro 2024.png"></a>
        </div>
      </div>
      <!-- FIM PROXIMAS PALESTRAS QUINTA-FEIRA -->
      {% include "redes-sociais.njk" %}    
    </div>    
    <!-- COLUNA CENTRAL -->
  </div>
</div>
